@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo");

body {
  background: #02191d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.header {
  background: hsla(191, 80%, 10%, 0.4);
}

.form-box {
  background: radial-gradient(
      circle at 14% 32%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
}

.ticket-box {
  background: radial-gradient(
      50% 36.17% at 50% 103.25%,
      rgba(36, 160, 181, 0.5) 0%,
      rgba(36, 160, 181, 0.180876) 63.82%,
      rgba(36, 160, 181, 0) 100%
    ),
    radial-gradient(
      50% 13.92% at 50% 0%,
      rgba(36, 160, 181, 0.5) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    #072c31;
}

.cutout {
  width: 30px;
  height: 30px;
  background-color: white; /* Same as the background */
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 1); /* Makes it look like a cutout */
}
.cutout-circle {
  width: 30px;
  height: 30px;
  background-color: #041e23; /* Match background */
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: difference; /* Extends the background color */
}

.custom-scrollbar {
  overflow-y: scroll;
  overflow-x: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 768px) {
  body {
    background: radial-gradient(
        52.52% 32.71% at 50% 97.66%,
        rgba(36, 160, 181, 0.2) 0%,
        rgba(36, 160, 181, 0) 100%
      ),
      #02191d;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 450px) {
  .form-header {
    flex-direction: row;
    align-items: center;
  }

  .form-header {
    font-size: 32px;
  }
}
