@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #02191d;
}

.header {
  background: hsla(191, 80%, 10%, 0.4);
}




@media (min-width: 768px) {
body {
    background: radial-gradient(
        52.52% 32.71% at 50% 97.66%,
        rgba(36, 160, 181, 0.2) 0%,
        rgba(36, 160, 181, 0) 100%
      ),
      #02191d;
  }
}

@media (min-width: 450px) {
  .form-header {
    flex-direction: row;
    align-items: center;
  }

  .form-header {
    font-size: 32px;
  }
}
